

<p>Nom : {{recipe.name}}</p>
<p>Description : {{recipe.description}}</p>
<img src="{{recipe.picture}}" alt="" width=70%>
<br>

<button mat-button color="primary" routerLink="/recipes/{{recipe.id}}">Primary</button>

<button (click)="toggleIngredients()">
Afficher ingrédients
</button>


<ul *ngIf="showIngredients">
<li *ngFor = "let item of recipe.ingredients">
    {{item.ingredient.name}}
</li>
</ul>


